# Python
__pycache__/
*.py[cod]
*.sqlite3
*.env
*.venv/
venv/
.env.*
db.sqlite3

# Django
/staticfiles/
/media/

# Node/React
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
/build
/dist

# macOS
.DS_Store


# Docker
*.pid

# System
Thumbs.db

# virtualenv
backend/.venv/

# Logs
*.log